@import url('https://fonts.googleapis.com/css2?family=Exo:wght@200&family=Qwigley&display=swap');

html {
  scroll-behavior: smooth;
}

.sectionheading {
    font-family: "Exo", sans-serif;
    text-align: center;
    font-size: 70px;
    color:#918e8e;
}

.sectionheading h3 {
    font-size: 40px;
    padding-bottom: 10px;
    padding-top: 30px;
}

@media only screen and (max-width: 600px) {
  .sectionheading h3 {
    font-size: 30px;
  }
}

hr {
    width: 200px;
    margin-top: 0;
    color: #918e8e;
    height: 3px;
    padding-bottom: 10px;
}
/*----------------------------------Header-----------------------------------*/

.headingname h3 {
    font-family: "Qwigley", sans-serif;
    font-size: 50px;
    color: #b4b2b2;
    font-weight: 100;
}

.menuitem {
    list-style: none;
    font-family: "Exo", sans-serif;
    display: inline-block;
    padding: 20px;
    height: 70px;
} 

.menuitem a h4 {
    color:#b4b2b2;
}

@media only screen and (max-width: 600px) {
  .menuitem a h4 {
    font-size: 20px;
    margin-bottom: 0;
  }
}

.headtitle {
    font-family: "Exo", sans-serif;
    font-size: 50px;
    color:#918e8e;
    text-shadow: 2px 2px 4px #000000;
    text-align: center;
    padding-top: 400px;
    padding-bottom: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

a h1 {
    position: absolute;
    top: 1em;
    left: 1em;
}

@media only screen and (max-width: 600px) {
  .headtitle {
    font-size: 40px;
  }
}

.headimage {
    /*background-image: url("../images/backgroundimage.jpeg");*/
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
}


.header{
    position: relative;
    text-align: center;
    margin-top: 80px;
}


.navbar {
    padding-bottom: 0;
    height: 80px;
}

.navbar .navbar-toggler {
    background-color:#918e8e;
}

#navbarNavDropdown {
    background-color:#fafafa;
}

.container-fluid {
    padding: 0;
}


/*--------------------------------About Me--------------------------------*/

.aboutmeimage {
    background: url("../images/aboutme.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    width: 300px;
    border: 3px #000000 solid;
    margin-top: 40px;
}

@media only screen and (max-width: 600px) {
  .aboutmeimage {
    height: 200px;
    width: 200px;
  }
}

.abouttext {
   font-family: "Exo", sans-serif; 
   text-align: center;
   padding-bottom: 50px;
   padding-top: 30px;
}

@media only screen and (max-width: 950px) {
  .abouttext {
    padding: 40px;
  }
}

.abouttext p i {
    font-size: 30px;
    padding-left: 10px;
    color: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.abouttext p i:hover {
    color: #484949;
}

/*--------------------------------My Skills--------------------------------*/

#myskills {
    background-color: #e5fcf8;
}

.skills {
    text-align: center;
}

.skills h4 {
    font-family: "Exo", sans-serif;
    text-align: center;
    color:#918e8e;
    padding-bottom: 30px;
}

@media only screen and (max-width: 600px) {
  .skills h4 {
    font-size: 20px;
  }
}

.skillset {
    font-family: "Exo", sans-serif;
    text-align: center;
    font-size: 40px;
    padding-bottom: 20px;
    text-shadow: 2px 2px 4px #000000;
    color:#918e8e;
}

@media only screen and (max-width: 600px) {
  .skillset {
    font-size: 30px;
  }
}

.grow:hover
{
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
    color: #000000;
}

.skills i {
    font-size: 50px;
    padding-bottom: 20px;
    color:#000000;
}

@media only screen and (max-width: 600px) {
  .skills i {
    font-size: 40px;
  }
}



/*--------------------------------Portfolio--------------------------------*/

.portfoliovids {
    padding-bottom: 40px;
    width: fit-content;
}

@media only screen and (max-width: 900px) {
  .portfoliovids {
    display: block;
    text-align: center;
  }
}

.portfoliovids iframe {
    margin-left: 40px;
    margin-right: 40px;
}

@media only screen and (max-width: 414px) {
  .portfoliovids iframe {
    margin-left: 10px;
    margin-right: 10px;
    max-width: 100%;
    height: auto;
  }
}

/*--------------------------------Contact--------------------------------*/

#contact {
    background-color: #e5fcf8;
    padding-bottom: 0px;
}

.contactinfo i {
    font-size: 25px;
}

.contactinfo p {
    text-align: center;
    line-height: 5px;
    font-family: "Exo", sans-serif;
    font-size: 15px;
    padding-top: 5x;
}

@media only screen and (max-width: 600px) {
  .contactinfo p  {
    font-size: 18px;
    line-height: 10px;
  }
}

.contactinfo {
    margin-bottom: 40px;
}

.contactform {
    padding: 20px 100px 20px 100px;
}

@media only screen and (max-width: 600px) {
  .contactform  {
    padding: 20px 30px 20px 30px;
  }
}

@media only screen and (min-width: 900px) {
  .contactform  {
    padding: 20px 60px 20px 60px;
  }
}

::placeholder {
    color:#918e8e;
}

.btn {
    font-family: "Exo", sans-serif;
    border-radius: 12px;
    color:#fafafa;
    background-color: #8f8f8f;
    border: #777777 ;
}

/*--------------------------------Footer--------------------------------*/
#footer {
    background-color: #e4e2e2;
    padding: 20px;
    min-height: 100px;
}

.social-links {
    font-size: 20px;
}

#footer h4, h6 {
    font-family: "Exo", sans-serif;
    font-size: 20px;
}

.download {
    font-family: "Exo", sans-serif;
    font-size: 18px;
}

.cv-pdf i {
    font-size: 18px;
    color: #fafafa;
    text-align: center;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.cv-pdf i:hover {
    color: #484949;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

@media only screen and (max-width: 992px) {
  .social-links {
    ;
  }
}

.social-links li a i:hover {
    background: #484949;
}