@import url('https://fonts.googleapis.com/css2?family=Exo:wght@200&family=Qwigley&display=swap');


.headingname h3 {
    font-family: "Qwigley", sans-serif;
    font-size: 50px;
    /*margin-left: 50px;*/
    color: #b4b2b2;
    font-weight: 100;
}

.menuitem {
    list-style: none;
    font-family: "Exo", sans-serif;
    display: inline-block;
    padding: 20px;
} 

.menuitem a h4 {
    color:#b4b2b2;
}

   
.headtitle {
    font-family: "Exo", sans-serif;
    font-size: 50px;
    color:#918e8e;
    text-shadow: 2px 2px 4px #000000;
    text-align: center;
    padding-top: 400px;
    padding-bottom: 400px;
    background-image: url("../images/backgroundimage.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.aboutheading {
    font-family: "Exo", sans-serif;
    text-align: center;
}